{{yield}}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1"><span>Patterns</span></h6>
<nav class="nav flex-column">
  {{#link-to 'patterns.onboarding' classNames="nav-link"}}Onboarding{{/link-to}}
  {{#link-to 'patterns.landing' classNames="nav-link"}}Landing{{/link-to}}
  <a class="nav-link" href="#">Modals</a>
  <a class="nav-link" href="#">Forms</a>
  <a class="nav-link" href="#">Call to actions</a>
  {{#link-to 'patterns.login' classNames="nav-link"}}Login{{/link-to}}
   {{#link-to 'patterns.signup' classNames="nav-link"}}Signups{{/link-to}}

  </nav>

<style type="text/css">
.nav-link{
	font-size: 13px;
	padding: 0.2rem 1rem;
	color: #42526E;
}
.nav-link:active{
	color: #42526E;
	font-weight: bold;
}

.sidebar-heading{
	color: #091E42;
	font-size: 13px;
	font-weight: bold;
}
</style>