<div class="container-fuild">
  <nav class="navbar fixed-top navbar-light header-bg-lighter">
    {{#link-to 'index' classNames="navbar-brand mb-0" }}
      <img src="/assets/images/ui-pttrns.svg" width="auto" height="40" alt="">
    {{/link-to}}
  </nav>
</div>
