<div class="grid">
  {{#each items as |item|}}
    <div class="item" {{ action 'openModal' item.url }}>
      {{#if (eq loading true)}}
        <div class="image-placeholder"/>
      {{/if}}
      <img src= {{item.url}} class="img-fluid" onload= {{action 'placeholder'}}>
    </div>
  {{/each}}
</div>
